@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@1,600;1,700&family=Raleway:wght@400;700&family=Ubuntu+Mono:wght@400;700&display=swap");
body {
  font-family: "Raleway", sans-serif;
  // font-family: 'Ubuntu Mono', monospace;

  background-color: #f2f3f4;
  // #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

p,
div {
  font-size: 1.125rem;
  line-height: 2.3rem;
}
a {
  text-decoration: none;
  color: inherit;
}
.content p {
  line-height: 1.5;
  text-align: justify;
  margin: 22px 0px;
}
